<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="keywords" content="CALEBIA, calebiamx, calebia, food, comida">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Somos la forma sencilla de cocinar y entregar tu comida preparada de toda la semana para que tu única chamba sea disfrutarla.">
    <meta name="author" content="CALEBIA">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/boomapp-84476.appspot.com/o/VERTICAL%20LETRAS%20BLANCAS.png?alt=media&token=84acb16e-3db3-4232-9c1e-160ecd526ff2" />

    <title>Formulario</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.css" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

	<!-- Header -->
    <header class="background_1">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <!-- <h1 class="mx-auto my-0 text-uppercase">Calebia</h1> -->
          <img src="https://firebasestorage.googleapis.com/v0/b/boomapp-84476.appspot.com/o/VERTICAL%20LETRAS%20BLANCAS.png?alt=media&token=84acb16e-3db3-4232-9c1e-160ecd526ff2" class="img-logo" alt="">
        </div>
      </div>
    </header>

    <section class="d-flex h-100 align-items-center main1_section">
		<div class="mx-auto text-center main-section"><!--background_-->

			<div class="form-group">
				<p>
					Somos la forma sencilla de cocinar y entregar tu comida preparada con calidad de toda la semana para que tu única chamba sea disfrutarla.
				</p>
				<h2>
					<strong>
						TENEMOS DOS OPCIONES PARA TI;
					</strong>
				</h2>
			</div>

			<!--<div>
				<h3><strong>ELEGIR</strong></h3>
				<ul class="nav nav-pills">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="pill" href="#PlanSemanal">PLAN SEMANAL</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="pill" href="#ComprarXPlatillo">COMPRAR X PLATILLO</a>
					</li>
				</ul>
			</div>-->

			<!--********************************************ComprarXPlatillo***************************************-->
			<!--<div class="tab-content">-->
				<div class="tab-pane container hover" id="ComprarXPlatillo">
					<div class="card-body">
						<h1>ONLINE KITCHEN</h1>
						<h5 class="card-title">HAZ TU SELECCIÓN - Envío gratis en compra mínima de $300 mxn.</h5>
					</div>
					<h5 class="card-title">Guisos de 500gr. cada uno. Haz tu selección.</h5>
					<div class="album py-5 bg-light">
						<div class="container">

							<div class="row food3" id="food3">

							</div>
						</div>
					</div>
				</div>

				<!--***************************************PlanSemanal*****************************************
				<div class="tab-pane container active" id="PlanSemanal">
					<div>
						<h2>PLAN - Precio $389. Envío incluido</h2>
						<p>Incluye: Tres guisos de 1/2 kg. cada uno y cinco guarniciones de 250 gr. cada uno.</p>

					</div>
					<form>
						<div class="form-group">
							<label for="exampleFormControlSelect1">PLATILLOS</label>
							<select class="form-control food1" id="food1">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food1">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food1">
								<option>Elige una opcion</option>
							</select>
						</div>

						<div class="form-group">
							<label for="exampleFormControlSelect1">GUARNICIONES</label>
							<select class="form-control food2" id="food2">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food2">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food2">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food2">
								<option>Elige una opcion</option>
							</select>
						</div>
						<div class="form-group">
							<select class="form-control food2">
								<option>Elige una opcion</option>
							</select>
						</div>
					</form>
				</div>
			</div>****-->


			<div>
				<h3>Tu orden</h3>
				<h4>
					<strong>DÍA DE ENTREGA</strong>
				</h4>
				<!--<label>HORARIO DE ENTREGA</label>-->
				<form>
					DÍA DE ENTREGA
					<input id="date" type="date">
				</form>
				<div class="form-group">
				    <label for="exampleFormControlSelect1">HORARIO DE ENTREGA</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>6 am - 9 am</option>
				      <option>9 am - 11 am</option>
				      <option>11 am - 01 pm</option>
				      <option>01 pm - 03 pm</option>
				      <option>03 pm - 05 pm</option>
					  <option>05 pm - 07 pm</option>
					  <option>07 pm - 10 pm</option>
				    </select>
      		    </div>
			</div>

			<!--<div class="form-check">
				<h4>SELECCIONA</h4>
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
				  <label class="form-check-label" for="exampleRadios1">
				    PRIMERA VEZ QUE ORDENO / ENVIAR A DIRECCIÓN DIFERENTE
				  </label>
			</div>	  
		    <div class="form-check">
				<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
				  <label class="form-check-label" for="exampleRadios2">
				    HE ORDENADO ANTES
				  </label>
			</div>-->

			<div class="mx-auto text-center ">
				<h4 class="mb-3">Contacto</h4>
				<form class="needs-validation" novalidate="">
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName">Nombre</label>
							<input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
							<div class="invalid-feedback">
								Se requiere el primer nombre.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName">Apellidos</label>
							<input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
							<div class="invalid-feedback">
								Se requieren los apellidos.
							</div>
						</div>
					</div>

					<!--<div class="mb-3">
						<label for="username">Usuario</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">@</span>
							</div>
							<input type="text" class="form-control" id="username" placeholder="Username" required="">
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>
					</div>-->
					<div class="mb-3">
						<!--<span class="text-muted">(Optional)</span>-->
						<label for="phone">Teléfono</label>
						<input type="phone" class="form-control" id="phone" placeholder="33-31-77-4776">
						<div class="invalid-feedback">
							Debe ser un teléfono valido para mantenerte informado de tu compra.
						</div>
					</div>

					<div class="mb-3">
						<!--<span class="text-muted">(Optional)</span>-->
						<label for="email">Email</label>
						<input type="email" class="form-control" id="email" placeholder="you@example.com">
						<div class="invalid-feedback">
							Debe ser un email valido para mantenerte informado de tu compra.
						</div>
					</div>

					<div class="mb-3">
						<label for="address">Direccion</label>
						<input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
						<div class="invalid-feedback">
							Favor de ingresar la direccion de entrega.
						</div>
					</div>

					<div class="mb-3">
						<label for="address2">Direccion 2 <span class="text-muted">(Optional)</span></label>
						<input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
					</div>

					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="country">País</label>
							<select class="custom-select d-block w-100" id="country" required="">
								<option value="">Elige...</option>
								<option>México</option>
							</select>
							<div class="invalid-feedback">
								Favor de elegir un país valido.
							</div>
						</div>
						<div class="col-md-4 mb-3">
							<label for="state">Estado</label>
							<select class="custom-select d-block w-100" id="state" required="">
								<option value="">Choose...</option>
								<option>Jalisco</option>
							</select>
							<div class="invalid-feedback">
								Favor de elegir un estado valido.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="zip">Codigo postal</label>
							<input type="text" class="form-control" id="zip" placeholder="" required="">
							<div class="invalid-feedback">
								Codigo postal requerido.
							</div>
						</div>
					</div>
					<hr class="mb-4">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="same-address">
						<label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
					</div>
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="save-info">
						<label class="custom-control-label" for="save-info">Guardar información para la proxima compra.</label>
					</div>
					<hr class="mb-4">

					<h4 class="mb-3">Forma de pago</h4>

					<div class="d-block my-3">
						<div class="custom-control custom-radio">
							<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
							<label class="custom-control-label" for="credit">Tarjeta de credito</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
							<label class="custom-control-label" for="debit">Tarjeta de debito</label>
						</div>
						<div class="custom-control custom-radio">
							<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
							<label class="custom-control-label" for="paypal">PayPal</label>
						</div>
					</div>
					<!--<div class="row">
						<div class="col-md-6 mb-3">
							<label for="cc-name">Nombre en la tarjeta</label>
							<input type="text" class="form-control" id="cc-name" placeholder="" required="">
							<small class="text-muted">Nombre completo como aparece en la tarjeta</small>
							<div class="invalid-feedback">
								Se requiere el nombre que aparece en la tarjeta.
							</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="cc-number">Numero de tarjeta</label>
							<input type="text" class="form-control" id="cc-number" placeholder="" required="">
							<div class="invalid-feedback">
								Se requiere el numero de tarjeta.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="cc-expiration">Fecha de expiración</label>
							<input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
							<div class="invalid-feedback">
								Fecha de expiración requerida.
							</div>
						</div>
						<div class="col-md-3 mb-3">
							<label for="cc-cvv">CVV</label>
							<input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
							<div class="invalid-feedback">
								Codigo de seguridad requerido.
							</div>
						</div>
					</div>-->
					<hr class="mb-4">
					<a class="btn btn-primary btn-lg btn-block" id="persistirCompra">Continuar con la compra</a><!--href="result"-->
				</form>
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section class="contact-section bg-black">
		<div class="container">

			<div class="row">

				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-map-marked-alt text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Direccion</h4>
							<hr class="my-4">
							<div class="small text-black-50">Calle San Javier, Guadalajara JAL</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-envelope text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Email</h4>
							<hr class="my-4">
							<div class="small text-black-50">
								<a href="#">contacto@calebia.com</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 mb-3 mb-md-0">
					<div class="card py-4 h-100">
						<div class="card-body text-center">
							<i class="fas fa-mobile-alt text-primary mb-2"></i>
							<h4 class="text-uppercase m-0">Telefono</h4>
							<hr class="my-4">
							<div class="small text-black-50">33-31-77-4776</div>
						</div>
					</div>
				</div>
			</div>

			<div class="social d-flex justify-content-center"><!--#ce31b2-->
				<a href="https://www.instagram.com/calebiamx/" class="mx-2">
					<i class="fab fa-twitter"></i>
				</a>
				<a href="https://www.facebook.com/calebiamex/" class="mx-2">
					<i class="fab fa-facebook-f"></i>
				</a>
				<!-- <a href="#" class="mx-2">
                  <i class="fab fa-github"></i>
                </a> -->
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="bg-black small text-center text-white-50">
		<div class="container">
			Copyright &copy; Calebia 2017
		</div>
	</footer>

	<!-- Custom scripts for this form -->
	<script src="js/form.js"></script>

</body>

</html>